
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 50px;
        background-image: url('https://images.pexels.com/photos/682933/pexels-photo-682933.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); 
      background-size: cover; 
      background-repeat: no-repeat;
      background-attachment: fixed; 
      padding: 200px;
      
      
    }

    #guess-input {
        width: 60px;
    }

    #result {
        margin-top: 20px;
        font-weight: bold;
    }

    
    h1{
        color: blue;
    }
    h2{
        color:blue;
    }
    button {
        
        background-color: #4caf50; 
        color: #fff; 
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
.container{
background-color: pink;
width: 450px;
height: 300px;
}
